.input {
  padding: var(--sm-padding);
  max-width: 320px;
  width: 100%;
  margin: 0 var(--sm-padding);
  border-radius: var(--sm-border-radius);
  background-color: #00000020;
  border: 1px solid #5b545430;
  transition: 300ms background-color ease-in-out;
}

.input:hover {
  background-color: #00000010;
  border: 1px solid var(--hover);
}
