.videoCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  margin: var(--sm-padding);
}

.video {
  flex: 1 auto;
  overflow: hidden;
}

.tagline {
  padding: 0 var(--sm-padding);
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
