.videoCard {
  overflow: hidden;
  border-radius: var(--sm-border-radius);
  position: relative;
  background-color: gray;
  box-shadow: 0 0 3px rgb(36, 35, 35);
}

.video {
  width: 100%;
  height: 100%;
}

.tagline {
  position: absolute;
  bottom: 0;
  background-color: #33333370;
  padding-left: 12;
  width: 100%;
  color: rgba(255, 255, 255, 0.343);
}
