.navbar {
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  max-height: 80px;
  width: 100%;
  padding: var(--sm-padding);
  background: linear-gradient(
    90deg,
    rgba(13, 10, 47, 0.202) 0%,
    rgba(13, 10, 47, 0.401) 30%,
    rgba(13, 10, 47, 0.31) 100%
  );
  box-shadow: 0px 0px 2px #3b2c2c;
}

.button {
  background-color: #747bff;
  color: white;
  width: 300px;
}
